.container {
  align-items: center;
  display: flex;
  justify-content: center;
  border: 2px solid var(--ui-kit-neutral-100);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: scale 300ms ease-in-out;
}

.container:hover {
  border: 2px solid var(--ui-kit-primary-700);
  box-shadow: var(--ui-kit-secondary-400) 0px 5px 15px;
  scale: 1.2;
}

.avatar {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
