.container {
  background-color: var(--ui-kit-neutral-800);
  padding-inline: 15px;
  padding-top: 25px;
  padding-bottom: 45px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail p {
  font-family: var(--ui-kit-font-primary);
  color: var(--ui-kit-neutral-100);
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-family: var(--ui-kit-font-primary);
  text-decoration: none;
  color: var(--ui-kit-neutral-100);
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding: 0;
  transition: color 200ms ease-in-out;
  &:hover {
    color: var(--ui-kit-primary-500);
  }
}

.embee-link {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: var(--ui-kit-font-primary);
  text-decoration: none;
  color: var(--ui-kit-neutral-100);
  font-weight: 600;
  font-size: 16px;
  gap: 15px;
  margin: 10px;
  padding: 0;
}

.collaborators-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.collaborators-container p {
  font-family: var(--ui-kit-font-secondary);
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  width: fit-content;
}

.collaborators {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
}
