.container {
  display: inline-block;
  position: relative;
  width: 330px;
  height: 594px;
}

/* Card Name Styles */

.card-name-container {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  position: absolute;
  padding: 10px 10px;
  width: 90%;
}

.card-name-challenger {
  bottom: 20%;
  left: 20px;
}

.card-name-master {
  bottom: 19%;
  left: 20px;
}

.card-name-diamond {
  bottom: 19%;
  left: 20px;
}

.card-name-platinium {
  bottom: 19%;
  left: 20px;
  width: 92%;
}

.card-name-gold {
  bottom: 19%;
  left: 22px;
}

.card-name-silver {
  bottom: 19%;
  left: 22px;
}

.card-name-bronze {
  bottom: 19%;
  left: 22px;
}

.card-name {
  text-shadow: 0 0 8px #000;
  margin: 0;
  color: var(--ui-kit-neutral-100);
  font-size: 22px;
  font-weight: 800;
}

/* Proplayer Styles */

.proplayer-container {
  position: absolute;
}

.proplayer-challenger {
  top: 30px;
  left: 28px;
}

.proplayer-master {
  top: 17px;
  left: 12px;
}

.proplayer-diamond {
  top: 17px;
  left: 11px;
}

.proplayer-platinium {
  top: 17px;
  left: 12px;
}

.proplayer-gold {
  top: 15px;
  left: 22px;
}

.proplayer-silver {
  top: 15px;
  left: 19px;
}

.proplayer-bronze {
  top: 15px;
  left: 22px;
}

.border-container {
  position: absolute;
  top: 0;
  left: 0;
}

/* Username Styles */

.username {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.username-challenger {
  bottom: 15.7%;
  color: var(--ui-kit-neutral-100);
  font-size: 12px;
  font-weight: 700;
  margin: 0;
}

.username-master {
  bottom: 14.6%;
}

.username-diamond {
  bottom: 14.7%;
}

.username-platinium {
  bottom: 14.4%;
}

.username-gold {
  bottom: 14.5%;
}

.username-silver {
  bottom: 14.3%;
}

.username-bronze {
  bottom: 14.6%;
}

/* Summoners Styles */
.summoners-container {
  align-items: flex-end;
  position: absolute;
  display: flex;
  justify-content: center;
}

.summoners-challenger {
  bottom: 4.7%;
  left: 30.2%;
  gap: 8px;
}

.summoners-master {
  bottom: 3.5%;
  left: 30%;
  gap: 8px;
}

.summoners-diamond {
  bottom: 3.3%;
  left: 30%;
  gap: 8px;
}

.summoners-platinium {
  bottom: 3.3%;
  left: 30.5%;
  gap: 8px;
}

.summoners-gold {
  bottom: 3.3%;
  left: 31%;
  gap: 7.4px;
}

.summoners-silver {
  bottom: 3.1%;
  left: 30.3%;
  gap: 7px;
}

.summoners-bronze {
  bottom: 3.3%;
  left: 30.9%;
  gap: 7px;
}

/* Avatar Styles */

.avatar {
  object-fit: cover;
  position: absolute;
}

.avatar-challenger {
  bottom: 17px;
  left: 22.5px;
  height: 70px;
  width: 70px;
}

.avatar-master {
  bottom: 8px;
  left: 20.8px;
  height: 70px;
  width: 70px;
}

.avatar-diamond {
  bottom: 10px;
  left: 20.5px;
  height: 70px;
  width: 70px;
}

.avatar-platinium {
  bottom: 7px;
  left: 20.5px;
  height: 70px;
  width: 70px;
}

.avatar-gold {
  bottom: 9px;
  left: 23px;
  height: 71px;
  width: 71px;
}

.avatar-silver {
  bottom: 7px;
  left: 20px;
  height: 71px;
  width: 71px;
}

.avatar-bronze {
  bottom: 9px;
  left: 21px;
  height: 71px;
  width: 71px;
}
