.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.title-section {
  color: var(--ui-kit-secondary-400);
  font-size: 24px;
  font-weight: 800;
  width: fit-content;
  margin: 0;
}

.box-redeem {
  text-align: center;
  display: flex;
  flex-direction: column;
  color: var(--ui-kit-secondary-400);
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  gap: 15px;
  width: 100%;
  max-width: 800px;
}

.reward-detail-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

.reward-detail {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.border-title {
  margin: 0;
  font-size: 20px;
  padding-bottom: 25px;
  font-weight: 700;
}

.reward-detail-description {
  font-size: 16px;
  color: var(--ui-kit-neutral-100);
  flex-wrap: wrap;
  width: fit-content;
  max-width: 450px;
}
