.container {
  align-self: center;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  text-decoration: none;
  gap: 15px;
  padding: 10px 26px;
  min-height: 120px;
  width: 100%;
}

.username {
  text-shadow: 0px 0px 10px #000;
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: var(--ui-kit-size-3xl);
  font-weight: var(--ui-kit-font-weight-extrabold);
  color: var(--ui-kit-neutral-100);
  margin: 0;
}

.borders-detail {
  text-shadow: 0px 0px 10px #000;
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: var(--ui-kit-size-4xl);
  font-weight: var(--ui-kit-font-weight-extrabold);
  color: var(--ui-kit-neutral-100);
  margin: 0;
}

.borders-description {
  text-shadow: 0px 0px 10px #000;
  width: 100%;
  text-align: center;
  align-self: center;
  font-size: var(--ui-kit-size-base);
  font-weight: var(--ui-kit-font-weight-bold);
  color: var(--ui-kit-neutral-100);
  margin: 0;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

.rank-challenger {
  background-image: linear-gradient(
    45deg,
    #fad168ff 10%,
    #fdfa83ff 15%,
    #be7f2aff 65%,
    #74390eff 100%
  );
}

.rank-master {
  background-image: linear-gradient(
    45deg,
    #becfc9ff 5%,
    #465c54ff 10%,
    #b39480ff 25%,
    #463426ff 45%,
    #f5df81ff 100%
  );
}

.rank-diamond {
  background-image: linear-gradient(
    45deg,
    #e1d2a2ff 0%,
    #bb967aff 20%,
    #b3d1f0ff 55%,
    #5da3d5ff 70%,
    #2f288aff 100%
  );
}

.rank-platinium {
  background-image: linear-gradient(
    45deg,
    #e8faeaff 0%,
    #ebdd9cff 20%,
    #4b441bff 60%,
    #4f979eff 90%,
    #1a3332ff 100%
  );
}

.rank-gold {
  background-image: linear-gradient(
    45deg,
    #c79f45ff 0%,
    #855527ff 30%,
    #48100bff 60%,
    #a10501ff 100%
  );
}

.rank-silver {
  background-image: linear-gradient(
    45deg,
    #99ada6ff 0%,
    #596e67ff 20%,
    #344a43ff 40%,
    #7c6126ff 90%,
    #362e0cff 100%
  );
}

.rank-bronze {
  background-image: linear-gradient(
    45deg,
    #e3c771ff 0%,
    #c68d36ff 5%,
    #76300bff 40%,
    #684f28ff 90%,
    #4b3218ff 100%
  );
}

.rank-unranked {
  background-image: linear-gradient(
    45deg,
    #88795dff 0%,
    #83c4c2ff 10%,
    #425f64ff 20%,
    #435558ff 50%,
    #4b3218ff 100%
  );
}

.icon-rank {
  align-self: center;
  justify-self: center;
}

.details-container {
  align-self: center;
  justify-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
