.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 600px;
}

.filter-by-rank {
  align-items: center;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.filter-by-rank label {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 10px 15px;
}

.filter-by-rank label input {
  margin: 0;
  padding: 0;
}

.btnPrimary {
  border: none;
  background-color: var(--ui-kit-primary-700);
  color: var(--ui-kit-neutral-100);
  border-radius: 6px;
  font-size: var(--ui-kit-size-base);
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: var(--ui-kit-font-weight-semibold);
  padding: 8px 16px;
  height: fit-content;
  width: fit-content;
  transition: all 300ms ease-in-out;
  &:not(:disabled):hover {
    scale: 1.1;
  }
}

.chevron-asc {
  transform: rotate(180deg);  
}