.nav-container {
  align-items: center;
  display: flex;
  height: fit-content;
  justify-content: center;
  gap: 35px;
  padding: 20px 8px;
  width: 100%;
}

.nav-link {
  align-items: center;
  display: flex;
  text-decoration: none;
  margin: auto;
  justify-content: center;
  gap: 10px;
  color: var(--ui-kit-neutral-100);
  font-weight: 600;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: fit-content;
  width: fit-content;
  transition: color 200ms ease-in-out;
}

.nav-link-icon {
  &:hover {
    color: var(--ui-kit-primary-500);
  }
}

.nav-link-active {
  cursor: default;
  color: var(--ui-kit-secondary-400);
  &:hover {
    color: var(--ui-kit-secondary-400);
  }
}

.avatar {
  border-radius: 50%;
}

.nav-icon {
  background-color: transparent;
  fill: #fff;
  height: 50px;
  width: 50px;
}
