.embee-link {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: var(--ui-kit-font-primary);
  text-decoration: none;
  color: var(--ui-kit-neutral-100);
  font-weight: 600;
  font-size: 16px;
  gap: 15px;
  margin: 10px;
  padding: 0;
  &:hover {
    background-image: linear-gradient(
      90deg,
      var(--ui-kit-primary-300),
      var(--ui-kit-primary-400),
      var(--ui-kit-primary-500),
      var(--ui-kit-primary-600)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.icon-container {
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  outline: 2px solid var(--ui-kit-neutral-100);
  width: 50px;
  height: 50px;
  transition: scale 300ms ease-in-out;
}

.icon-container-hover {
  outline: 2px solid var(--ui-kit-primary-300);
  box-shadow: var(--ui-kit-secondary-400) 0px 5px 15px;
  scale: 1.1;
}
