.container {
  position: relative;
  width: 400px;
  max-width: 80%;
}

.item-option {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 15%;
  width: 100%;
}

.avatar {
  border-radius: 50%;
}

.icon-search {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.input-search {
  padding-left: 45px;
}
