.container {
  display: inline-block;
  position: relative;
  width: 330px;
  height: 594px;
}

.proplayer-container {
  position: absolute;
  top: 30px;
  left: 30px;
}

.border-container {
  position: absolute;
  top: 0;
  left: 0;
}
